.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  /* ниже - временный цвета для разработки - удалить */
  /* background: #3A3C3F; */
}
