.place {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 460px auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
